.image4Icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1264px;
  height: 998px;
  object-fit: cover;
}
.backgroundIcon,
.paginationlightIcon {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  display: none;
}
.paginationlightIcon {
  height: 2.34%;
  top: 88.67%;
  bottom: 8.99%;
}
.backgroundIcon {
  height: calc(100% + 0.07px);
  top: 0;
  bottom: -0.07px;
}
.action1,
.action2 {
  position: absolute;
  top: 12px;
  letter-spacing: -0.41px;
  line-height: 22px;
  font-weight: 600;
  display: inline-block;
}
.action1 {
  left: 16px;
  width: 41px;
}
.action2 {
  right: 16px;
  color: var(--color-blueviolet-100);
  text-align: right;
  width: 44px;
}
.toolbarsIphone8textOnly {
  height: 100%;
  top: 0;
  bottom: 0;
}
.rectangle,
.toolbarsIphone8textOnly,
.toolbarsiphoneXtextOnly2 {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
}
.toolbarsiphoneXtextOnly2 {
  height: 10.22%;
  top: 87.19%;
  bottom: 2.59%;
  display: none;
  font-size: var(--font-size-mid);
  color: var(--color-blueviolet-200);
}
.rectangle {
  height: 100%;
  top: 0;
  bottom: 0;
  border-radius: var(--br-7xs);
  background-color: var(--color-gray-100);
  box-shadow: 0 8px 20px rgba(122, 122, 123, 0.32);
}
.lekkiGardens {
  position: absolute;
  height: calc(100% - 28px);
  width: calc(100% - 156px);
  top: 14px;
  left: 52px;
  letter-spacing: 0.1px;
  line-height: 24px;
  display: flex;
  align-items: center;
}
.eiCloseIcon,
.gridiconsLocation {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.eiCloseIcon {
  top: 20px;
  left: 297px;
  width: 19px;
  height: 19px;
  cursor: pointer;
}
.buttonprimarydefault {
  position: absolute;
  width: calc(100% - 32px);
  top: 99px;
  right: 10px;
  left: 22px;
  height: 56px;
}
.gridiconsLocation1,
.vectorIcon {
  position: absolute;
  overflow: hidden;
}
.vectorIcon {
  height: 2.71%;
  width: 6.67%;
  top: 9.48%;
  right: 87.73%;
  bottom: 87.81%;
  left: 5.6%;
  max-width: 100%;
  max-height: 100%;
}
.gridiconsLocation1 {
  top: 341px;
  left: 178px;
  width: 41px;
  height: 41px;
}
.rectangle1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-7xs);
  background-color: var(--white);
  box-shadow: 0 8px 20px rgba(122, 122, 123, 0.32);
}
.n200 {
  width: calc(100% - 279px);
  top: -22px;
  left: 22px;
  font-size: var(--font-size-5xl);
  text-align: center;
  justify-content: center;
}
.hr,
.lekkiGardensCar,
.n200 {
  position: absolute;
  height: calc(100% - 173.68px);
  letter-spacing: 0.1px;
  line-height: 24px;
  display: flex;
  align-items: center;
}
.hr {
  width: calc(100% - 299px);
  top: -23.16px;
  left: 77px;
  color: var(--color-slategray);
  text-align: center;
  justify-content: center;
}
.lekkiGardensCar {
  width: calc(100% - 142px);
  top: -22px;
  left: 127px;
  text-align: right;
}
.spacesAvailable {
  width: calc(100% - 204px);
  top: -98.42px;
  left: 23px;
}
.distanceToVenue,
.m,
.slots,
.spacesAvailable {
  position: absolute;
  height: calc(100% - 173.68px);
  letter-spacing: 0.1px;
  line-height: 24px;
  display: flex;
  align-items: center;
}
.slots {
  width: calc(100% - 276px);
  top: -98.42px;
  left: 209px;
  font-weight: 600;
}
.distanceToVenue,
.m {
  top: -136.63px;
}
.m {
  width: calc(100% - 227px);
  left: 205px;
  font-weight: 600;
}
.distanceToVenue {
  width: calc(100% - 195px);
  left: 21px;
}
.groupChild {
  position: absolute;
  top: -74.61px;
  left: 21.5px;
  border-top: 1px solid var(--color-darkgray-200);
  box-sizing: border-box;
  width: 299px;
  height: 1px;
}
.siGlyphmoneyIcon {
  position: absolute;
  top: 565px;
  left: 32px;
  width: 26px;
  height: 28.33px;
  overflow: hidden;
  display: none;
}
.rectangleParent {
  position: absolute;
  height: calc(100% - 606px);
  width: calc(100% - 32px);
  top: 587px;
  right: 16px;
  bottom: 19px;
  left: 16px;
}
.rectangle2 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-7xs);
  background-color: var(--color-black);
  box-shadow: var(--purple-button-shadow);
}
.viewCarParking {
  position: absolute;
  height: calc(100% - 28px);
  width: calc(100% - 40px);
  top: 14px;
  left: 20px;
  letter-spacing: 0.1px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttonprimarydefault1 {
  position: absolute;
  width: calc(100% - 32px);
  top: 616px;
  right: 19px;
  left: 13px;
  background-color: var(--white);
  height: 56px;
  cursor: pointer;
  text-align: center;
  color: var(--white);
}
.faSolidparkingIcon {
  position: absolute;
  top: 356px;
  left: 263px;
  width: 28px;
  height: 32px;
  overflow: hidden;
}
.carParkSelectedSenspr {
  position: relative;
  background-color: var(--white);
  width: 100%;
  height: 782px;
  overflow: hidden;
  text-align: left;
  font-size: var(--components-large-size);
  color: var(--color-darkslategray-200);
  font-family: var(--font-open-sans);
}
