.insuranceChild {
  position: absolute;
  top: 50px;
  left: 0;
  background-color: var(--ink-06);
  width: 428px;
  height: 91px;
}
.sendParcel {
  position: absolute;
  top: 79px;
  left: 56px;
  font-size: var(--font-size-xl);
  display: inline-block;
  width: 149px;
  height: 22px;
}
.vectorIcon {
  position: absolute;
  height: 83.38%;
  width: 43.79%;
  top: 8.33%;
  right: 29.29%;
  bottom: 8.29%;
  left: 26.92%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.backChild {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.back,
.insuranceItem {
  position: absolute;
  top: 80px;
  left: 16px;
  width: 26px;
  height: 26px;
}
.insuranceItem {
  top: 136px;
  left: -9px;
  border-radius: var(--br-3xs);
  background-color: var(--color-mistyrose);
  border: 2px solid var(--ink-06);
  box-sizing: border-box;
  width: 396px;
  height: 156px;
}
.package,
.pleaseEnsureThat {
  position: absolute;
  top: 197px;
  left: 56px;
  font-size: var(--components-large-size);
  display: inline-block;
  width: 219px;
  height: 64px;
}
.package {
  top: 159px;
  font-weight: 500;
  width: 194px;
  height: 23px;
}
.insuranceInner {
  position: absolute;
  top: 339.7px;
  left: 15.7px;
  border-top: 0.6px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  width: 396.6px;
  height: 0.6px;
}
.groupIcon {
  position: absolute;
  top: 171px;
  left: 299px;
  width: 90px;
  height: 90px;
  object-fit: cover;
}
.groupChild,
.next {
  position: absolute;
  left: 0;
  width: 194px;
}
.groupChild {
  top: 0;
  border-radius: var(--br-3xl);
  background-color: var(--color-mediumblue);
  height: 44px;
}
.next {
  top: 12px;
  display: inline-block;
  height: 21px;
}
.groupItem,
.rectangleParent {
  position: absolute;
  width: 194px;
  height: 44px;
}
.rectangleParent {
  top: 847px;
  left: 218px;
  cursor: pointer;
  text-align: center;
  font-size: var(--font-size-mini);
  color: var(--ink-06);
}
.groupItem {
  top: 0;
  left: 0;
  border-radius: var(--br-3xl);
}
.packageInsurance,
.rectangleGroup {
  position: absolute;
  left: 16px;
  width: 194px;
}
.rectangleGroup {
  top: 847px;
  height: 44px;
  text-align: center;
  font-size: var(--font-size-mini);
  color: var(--color-mediumblue);
}
.packageInsurance {
  top: 358px;
  font-size: var(--components-large-size);
  font-weight: 600;
  display: inline-block;
  height: 42px;
}
.tickBox {
  cursor: pointer;
  position: absolute;
  top: 489px;
  left: 16px;
  width: 18px;
  height: 18px;
}
.paid,
.rs299,
.rs99,
.standard {
  position: absolute;
  top: 415px;
  left: 48px;
  font-weight: 600;
  display: inline-block;
  width: 242px;
  height: 17px;
}
.paid,
.rs299,
.rs99 {
  top: 489px;
}
.rs299,
.rs99 {
  top: 415px;
  left: 275px;
  text-align: right;
  width: 112px;
}
.rs299 {
  top: 489px;
  left: 281px;
}
.getUpto500,
.getUpto5000,
.tickBox1 {
  position: absolute;
  left: 16px;
  height: 18px;
}
.tickBox1 {
  cursor: pointer;
  top: 415px;
  width: 18px;
}
.getUpto500,
.getUpto5000 {
  top: 443px;
  font-size: var(--font-size-xs);
  line-height: 18px;
  display: inline-block;
  width: 396px;
}
.getUpto5000 {
  top: 517px;
}
.iconLeft {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.label {
  position: relative;
  letter-spacing: 1px;
  line-height: 24px;
  font-weight: 600;
}
.button,
.lineDiv {
  position: absolute;
  box-sizing: border-box;
}
.button {
  height: 7.45%;
  top: 84.65%;
  bottom: 7.89%;
  left: calc(50% - 184.5px);
  border-radius: var(--br-10xs);
  background-color: var(--color-black);
  width: 370px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-base);
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
  cursor: pointer;
  text-align: center;
  font-size: var(--font-size-mini);
  color: var(--ink-06);
  font-family: var(--font-be-vietnam-pro);
}
.lineDiv {
  top: 909.5px;
  left: 135.5px;
  border-top: 5px solid var(--color-black);
  width: 157px;
  height: 5px;
}
.insurance {
  position: relative;
  background-color: var(--ink-06);
  width: 100%;
  height: 782px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-ibm-plex-sans);
}
