.packageDetailsChild {
  position: absolute;
  top: 50px;
  left: 0;
  background-color: var(--ink-06);
  width: 428px;
  height: 91px;
}
.sendParcel {
  position: absolute;
  top: 79px;
  left: 56px;
  font-size: var(--font-size-xl);
  display: inline-block;
  width: 149px;
  height: 22px;
}
.vectorIcon {
  position: absolute;
  height: 83.38%;
  width: 43.79%;
  top: 8.33%;
  right: 29.29%;
  bottom: 8.29%;
  left: 26.92%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.backChild {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.back {
  position: absolute;
  top: 80px;
  left: 16px;
  width: 26px;
  height: 26px;
}
.packageDetailsItem {
  position: absolute;
  top: 136px;
  left: -1px;
  border-radius: var(--br-3xs);
  background-color: var(--color-mistyrose);
  width: 396px;
  height: 156px;
}
.package,
.pleaseEnsureThat {
  position: absolute;
  top: 197px;
  left: 56px;
  display: inline-block;
  width: 219px;
  height: 64px;
}
.package {
  top: 159px;
  font-weight: 500;
  width: 194px;
  height: 23px;
}
.packageDetailsInner {
  position: absolute;
  top: 339.7px;
  left: -7.3px;
  border-top: 0.6px solid var(--color-black);
  box-sizing: border-box;
  width: 396.6px;
  height: 0.6px;
}
.groupIcon {
  position: absolute;
  top: 171px;
  left: 299px;
  width: 90px;
  height: 90px;
  object-fit: cover;
}
.groupChild {
  top: 0;
  left: 0;
  border-radius: var(--br-3xl);
  background-color: var(--color-mediumblue);
  height: 44px;
}
.groupChild,
.next,
.rectangleParent {
  position: absolute;
  width: 194px;
}
.next {
  top: 12px;
  left: 0;
  display: inline-block;
  height: 21px;
}
.rectangleParent {
  top: 847px;
  left: 218px;
  height: 44px;
  cursor: pointer;
  text-align: center;
  font-size: var(--font-size-mini);
  color: var(--ink-06);
}
.parcelPictures {
  position: absolute;
  top: 358px;
  left: 16px;
  font-weight: 600;
  display: inline-block;
  width: 194px;
  height: 35px;
}
.groupItem,
.rectangleGroup {
  position: absolute;
  width: 194px;
  height: 44px;
}
.groupItem {
  top: 0;
  left: 0;
  border-radius: var(--br-3xl);
}
.rectangleGroup {
  top: 847px;
  left: 16px;
  cursor: pointer;
  text-align: center;
  font-size: var(--font-size-mini);
  color: var(--color-mediumblue);
}
.rectangleDiv {
  position: absolute;
  top: 399px;
  left: 16px;
  border-radius: var(--br-3xs);
  border: 0.6px solid var(--color-black);
  box-sizing: border-box;
  width: 354px;
  height: 51px;
}
.hfaindcoijojwclqujoheic {
  position: absolute;
  top: 413px;
  left: 51px;
  font-size: var(--font-size-sm);
  display: inline-block;
  width: 283px;
  height: 17px;
}
.packageDetailsChild1 {
  position: absolute;
  top: 413px;
  left: 327px;
  width: 18.38px;
  height: 18.38px;
}
.iconLeft {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.label {
  position: relative;
  letter-spacing: 1px;
  line-height: 24px;
  font-weight: 600;
}
.button {
  height: 7.45%;
  top: 84.58%;
  bottom: 7.97%;
  left: calc(50% - 184.5px);
  border-radius: var(--br-10xs);
  background-color: var(--color-black);
  width: 370px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-base);
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
  cursor: pointer;
  text-align: center;
  font-size: var(--font-size-mini);
  color: var(--ink-06);
  font-family: var(--font-be-vietnam-pro);
}
.button,
.groupInner,
.lineDiv {
  position: absolute;
  box-sizing: border-box;
}
.lineDiv {
  top: 909.5px;
  left: 135.5px;
  border-top: 5px solid var(--color-black);
  width: 157px;
  height: 5px;
}
.groupInner {
  top: 0;
  left: 0;
  border-radius: var(--br-3xl);
  border: 1px solid var(--color-black);
  width: 341px;
  height: 44px;
}
.uploadPhoto {
  position: absolute;
  top: 14px;
  left: 34.44px;
  font-size: var(--font-size-sm);
  display: inline-block;
  font-family: var(--font-ibm-plex-sans);
  color: var(--color-black);
  text-align: center;
  width: 285.89px;
  height: 17px;
}
.uploadIcon {
  position: absolute;
  top: 10px;
  left: 111.94px;
  width: 20.67px;
  height: 24px;
  object-fit: cover;
}
.rectangleContainer {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 473px;
  left: 16px;
  width: 341px;
  height: 44px;
}
.packageDetails {
  position: relative;
  background-color: var(--ink-06);
  width: 100%;
  height: 782px;
  overflow: hidden;
  text-align: left;
  font-size: var(--components-large-size);
  color: var(--color-black);
  font-family: var(--font-ibm-plex-sans);
}
