.rwcriFacadeByNight12WideIcon {
  position: absolute;
  top: -12px;
  left: 0;
  width: 428px;
  height: 938px;
  object-fit: cover;
  display: none;
}
.payment,
.personalDetails {
  position: absolute;
  font-size: var(--components-large-size);
  display: inline-block;
  font-family: var(--font-be-vietnam-pro);
  height: 14px;
}
.personalDetails {
  top: 176px;
  left: 10px;
  letter-spacing: 1px;
  color: var(--color-gray-400);
  width: 368px;
}
.payment {
  top: 548px;
  left: 18px;
  letter-spacing: 1.5px;
  width: 370px;
}
.backgroundsWhite,
.controlsSmallArrowFw {
  position: absolute;
  height: 100.88%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: -0.88%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.controlsSmallArrowFw {
  height: 51.61%;
  width: 8.53%;
  top: 24.19%;
  right: 1.57%;
  bottom: 24.19%;
  left: 89.9%;
}
.muted,
.subtitle {
  position: absolute;
  width: 100%;
  left: 0;
}
.subtitle {
  height: 100%;
  top: 0;
  letter-spacing: -0.24px;
  line-height: 20px;
  display: inline-block;
}
.muted {
  height: 45.45%;
  top: 54.55%;
  right: 0;
  bottom: 0;
  opacity: 0.48;
  mix-blend-mode: normal;
}
.title {
  height: 50%;
  width: 22.92%;
  top: 0;
  left: 0;
  font-size: var(--font-size-smi);
  letter-spacing: -0.41px;
  line-height: 22px;
  display: inline-block;
}
.container,
.title,
.upi {
  position: absolute;
}
.container {
  height: 70.97%;
  width: 64%;
  top: 12.9%;
  right: 20%;
  bottom: 16.13%;
  left: 16%;
}
.upi {
  top: 491px;
  left: 145px;
  width: 391px;
  height: 57px;
  cursor: pointer;
  font-family: var(--font-open-sans);
}
.backgroundsWhite1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.muted1,
.title1 {
  position: absolute;
}
.muted1 {
  height: 45.2%;
  width: 100%;
  top: 54.8%;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.48;
  mix-blend-mode: normal;
}
.title1 {
  height: 49.04%;
  width: 34.37%;
  top: 0;
  left: 0.18%;
  font-size: var(--font-size-smi);
  letter-spacing: -0.41px;
  line-height: 22px;
  display: inline-block;
}
.container1,
.greyCardIcon {
  position: absolute;
  height: 71.37%;
  width: 64%;
  top: 12.5%;
  right: 20%;
  bottom: 16.13%;
  left: 16%;
}
.greyCardIcon {
  height: 55%;
  width: 7.67%;
  top: 22.5%;
  right: 88.24%;
  bottom: 22.5%;
  left: 4.09%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.creditCard {
  position: absolute;
  top: 577px;
  left: 18px;
  width: 360px;
  height: 40px;
  font-family: var(--font-open-sans);
}
.frameChild {
  border: 0;
  background-color: transparent;
  height: 14.52%;
  width: 39.72%;
  top: 12.58%;
  right: 52.34%;
  bottom: 72.9%;
}
.firstName,
.frameChild,
.frameItem {
  position: absolute;
  left: 7.94%;
}
.firstName {
  height: 6.23%;
  width: 25.7%;
  top: 2.18%;
  line-height: 20.5px;
  display: inline-block;
}
.frameItem {
  height: 0.32%;
  width: 40.89%;
  top: 26.94%;
  right: 51.17%;
  bottom: 72.74%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frameInner {
  border: 0;
  background-color: transparent;
  position: absolute;
  height: 14.64%;
  width: 42.29%;
  top: 12.46%;
  right: 5.37%;
  bottom: 72.9%;
  left: 52.34%;
}
.lastName {
  position: absolute;
  height: 6.23%;
  width: 25.7%;
  top: 5.3%;
  left: 53.74%;
  line-height: 20.5px;
  display: inline-block;
}
.vectorIcon {
  position: absolute;
  height: 0.32%;
  width: 43.69%;
  top: 26.94%;
  right: 3.97%;
  bottom: 72.74%;
  left: 52.34%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.email,
.groupInput {
  position: absolute;
  left: 7.94%;
}
.groupInput {
  border: 0;
  background-color: transparent;
  height: 14.64%;
  width: 86.68%;
  top: 41.12%;
  right: 5.37%;
  bottom: 44.24%;
}
.email {
  height: 6.23%;
  width: 25.7%;
  top: 32.4%;
  line-height: 20.5px;
  display: inline-block;
}
.frameChild1 {
  height: 0.63%;
  width: 86.68%;
  top: 55.6%;
  right: 5.37%;
  bottom: 43.76%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frameChild1,
.frameChild2,
.phoneNumber {
  position: absolute;
  left: 7.94%;
}
.frameChild2 {
  border: 0;
  background-color: transparent;
  height: 14.64%;
  width: 86.68%;
  top: 69.78%;
  right: 5.37%;
  bottom: 15.58%;
}
.phoneNumber {
  height: 6.23%;
  width: 25.7%;
  top: 63.55%;
  line-height: 20.5px;
  display: inline-block;
}
.frameChild3,
.groupParent {
  position: absolute;
  overflow: hidden;
}
.frameChild3 {
  height: 0.32%;
  width: 86.68%;
  top: 84.26%;
  right: 5.37%;
  bottom: 15.42%;
  left: 7.94%;
  max-width: 100%;
  max-height: 100%;
}
.groupParent {
  top: 193px;
  left: 0;
  background-color: var(--ink-06);
  width: 393px;
  height: 310px;
  color: var(--color-gray-400);
  font-family: var(--font-be-vietnam-pro);
}
.paymentConfirmationChild {
  position: absolute;
  top: -7px;
  left: 0;
  background-color: var(--color-mistyrose);
  width: 428px;
  height: 167px;
}
.allFieldsRequired,
.payment1 {
  position: absolute;
  left: 0;
  text-align: center;
  width: 428px;
}
.payment1 {
  top: 44px;
  font-size: var(--font-size-3xl);
  letter-spacing: 1px;
  line-height: 35px;
  display: flex;
  font-family: var(--font-be-vietnam-pro);
  align-items: center;
  justify-content: center;
  height: 66px;
}
.allFieldsRequired {
  top: 108px;
  line-height: 14px;
  font-family: var(--font-abhaya-libre);
  color: var(--color-dimgray-500);
  display: inline-block;
  height: 15px;
}
.vectorIcon1 {
  position: relative;
  width: 8.75px;
  height: 14.75px;
}
.vector {
  position: absolute;
  top: 63px;
  left: 18px;
  background-color: var(--color-mistyrose);
  width: 31px;
  height: 27px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.pickUpLocation {
  position: absolute;
  top: 690px;
  left: 71px;
  font-size: var(--font-size-sm);
  color: var(--color-gray-200);
  display: inline-block;
  width: 239px;
  height: 14px;
}
.paymentConfirmationItem {
  position: absolute;
  top: 613px;
  left: 14px;
  border-radius: var(--br-3xs);
  width: 369px;
  height: 206px;
}
.syndicateBankDebit {
  top: 640px;
  font-size: var(--components-large-size);
  font-weight: 500;
  height: 22px;
}
.div,
.expires052024,
.firstLastName,
.syndicateBankDebit {
  position: absolute;
  left: 68px;
  display: inline-block;
  width: 201px;
}
.div {
  top: 669px;
  font-size: var(--components-large-size);
  font-weight: 500;
  height: 22px;
}
.expires052024,
.firstLastName {
  top: 719px;
  height: 17px;
}
.expires052024 {
  top: 695px;
}
.image13Icon,
.tickBox {
  position: absolute;
  top: 708px;
  left: 32px;
}
.image13Icon {
  top: 639px;
  left: 269px;
  width: 89px;
  height: 23px;
  object-fit: cover;
}
.paymentConfirmationInner {
  border: 0.6px solid var(--color-darkslategray-500);
  background-color: transparent;
  position: absolute;
  top: 751px;
  left: 68px;
  border-radius: var(--br-7xs);
  box-sizing: border-box;
  width: 100px;
  height: 44px;
}
.whatIsCvv {
  position: absolute;
  top: 764px;
  left: 241px;
  color: var(--color-mistyrose);
  display: inline-block;
  width: 100px;
  height: 17px;
}
.paymentConfirmation {
  position: relative;
  background-color: var(--ink-06);
  width: 100%;
  height: 831px;
  overflow-y: auto;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-black);
  font-family: var(--font-ibm-plex-sans);
}
