.paymentScreenChild {
  position: absolute;
  top: 50px;
  left: 0;
  background-color: var(--white);
  width: 393px;
  height: 91px;
}
.debitOrCredit,
.sendParcel,
.upi {
  position: absolute;
  display: inline-block;
  height: 22px;
}
.sendParcel {
  top: 79px;
  left: 56px;
  font-size: var(--font-size-xl);
  width: 149px;
}
.debitOrCredit,
.upi {
  top: 164px;
  left: 16px;
  font-weight: 500;
  width: 211px;
}
.upi {
  top: 590px;
}
.vectorIcon {
  position: absolute;
  height: 83.38%;
  width: 43.79%;
  top: 8.33%;
  right: 29.29%;
  bottom: 8.29%;
  left: 26.92%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.backChild {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.back {
  position: absolute;
  top: 80px;
  left: 16px;
  width: 26px;
  height: 26px;
}
.paymentScreenItem {
  position: absolute;
  top: 140.7px;
  left: -3.3px;
  border-top: 0.6px solid var(--color-mistyrose);
  box-sizing: border-box;
  width: 396.6px;
  height: 0.6px;
}
.paymentScreenInner,
.rectangleIcon {
  position: absolute;
  top: 575.4px;
  left: 18px;
  width: 354px;
  height: 1.6px;
}
.rectangleIcon {
  top: 209px;
  left: 4px;
  border-radius: var(--br-3xs);
  width: 388px;
  height: 161px;
}
.syndicateBankDebit {
  top: 226px;
  font-weight: 500;
  height: 22px;
}
.div,
.expires052024,
.firstLastName,
.syndicateBankDebit {
  position: absolute;
  left: 68px;
  display: inline-block;
  width: 201px;
}
.div {
  top: 255px;
  font-weight: 500;
  height: 22px;
}
.expires052024,
.firstLastName {
  top: 305px;
  font-size: var(--font-size-xs);
  height: 17px;
}
.expires052024 {
  top: 281px;
}
.image13Icon {
  position: absolute;
  top: 248px;
  left: 283px;
  width: 89px;
  height: 23px;
  object-fit: cover;
}
.rectangleButton {
  cursor: pointer;
  border: 0.4px solid var(--color-mistyrose);
  padding: 0;
  background-color: var(--white);
  position: absolute;
  top: 400px;
  left: 8px;
  border-radius: var(--br-3xs);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  width: 380px;
  height: 155px;
}
.stateBankOf {
  position: absolute;
  top: 439px;
  left: 68px;
  font-weight: 500;
  display: inline-block;
  width: 231px;
  height: 22px;
}
.div1,
.expires0520241,
.firstLastName1 {
  position: absolute;
  left: 68px;
  display: inline-block;
  width: 201px;
}
.div1 {
  top: 468px;
  font-weight: 500;
  height: 22px;
}
.expires0520241,
.firstLastName1 {
  top: 518px;
  font-size: var(--font-size-xs);
  height: 17px;
}
.expires0520241 {
  top: 494px;
}
.tickBoxChild {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-10xs);
  border: 1px solid var(--color-mediumblue);
  box-sizing: border-box;
}
.tickBoxItem {
  position: absolute;
  height: 38.89%;
  width: 41.67%;
  top: 30.56%;
  right: 30.56%;
  bottom: 30.56%;
  left: 27.78%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.image14Icon,
.tickBox {
  position: absolute;
  top: 645px;
  left: 32px;
  width: 18px;
  height: 18px;
}
.image14Icon {
  top: 461px;
  left: 295px;
  width: 77px;
  height: 59px;
  object-fit: cover;
}
.tickBox1 {
  cursor: pointer;
  position: absolute;
  top: 479px;
  left: 32px;
  width: 18px;
  height: 18px;
}
.backgroundIcon,
.divider59pt0pt {
  position: absolute;
  left: 0;
  max-width: 100%;
  overflow: hidden;
}
.backgroundIcon {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  max-height: 100%;
}
.divider59pt0pt {
  width: calc(100% + 0.17px);
  right: -0.17px;
  bottom: -0.11px;
  height: 1px;
}
.controlsSmallMiscFaceI {
  position: absolute;
  bottom: 15.89px;
  left: calc(50% - 162.41px);
  width: 12px;
  height: 9px;
}
.title {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  letter-spacing: -0.41px;
  line-height: 22px;
  display: inline-block;
}
.container {
  position: absolute;
  height: 55%;
  width: 21.99%;
  top: 12.5%;
  right: 61.89%;
  bottom: 32.5%;
  left: 16.11%;
}
.purchase {
  position: absolute;
  top: 0.29px;
  left: 0.36px;
  width: 351px;
  height: 40px;
}
.controlsSmallArrowFw {
  position: absolute;
  height: 51.61%;
  width: 8.53%;
  top: 24.19%;
  right: 1.57%;
  bottom: 24.19%;
  left: 89.9%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.purchaseCreditCardHoverSta {
  position: absolute;
  height: 5.23%;
  width: 89.27%;
  top: 92.42%;
  right: 5.48%;
  bottom: 2.35%;
  left: 5.25%;
  cursor: pointer;
  font-size: var(--font-size-smi);
  font-family: var(--font-open-sans);
}
.backgroundsWhite2 {
  position: absolute;
  height: 100.27%;
  width: 100.05%;
  top: 0;
  right: -0.05%;
  bottom: -0.27%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.purchase1,
.purchase2 {
  position: absolute;
  height: 5.23%;
  width: 89.27%;
  top: 81.96%;
  right: 5.48%;
  bottom: 12.81%;
  left: 5.25%;
  font-size: var(--font-size-smi);
  font-family: var(--font-open-sans);
}
.purchase2 {
  cursor: pointer;
}
.backgroundsWhite4 {
  position: absolute;
  height: 95.6%;
  width: 99.48%;
  top: 0;
  right: 0.52%;
  bottom: 4.4%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.container3 {
  position: absolute;
  height: 52.44%;
  width: 21.87%;
  top: 11.92%;
  right: 62.11%;
  bottom: 35.65%;
  left: 16.02%;
}
.purchase3,
.tickBox2 {
  cursor: pointer;
  position: absolute;
}
.purchase3 {
  height: 5.48%;
  width: 89.78%;
  top: 86.93%;
  right: 5.22%;
  bottom: 7.58%;
  left: 5%;
  background-color: var(--white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  font-size: var(--font-size-smi);
  font-family: var(--font-open-sans);
}
.tickBox2 {
  top: 268px;
  left: 29px;
  width: 18px;
  height: 18px;
}
.paymentScreen {
  position: relative;
  background-color: var(--white);
  width: 100%;
  height: 782px;
  text-align: left;
  font-size: var(--components-large-size);
  color: var(--color-black);
  font-family: var(--font-ibm-plex-sans);
}
