.image4Icon {
  position: absolute;
  top: -113px;
  left: -133px;
  width: 1264px;
  height: 998px;
  object-fit: cover;
  display: none;
}
.backgroundIcon,
.paginationlightIcon {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  display: none;
}
.paginationlightIcon {
  height: 2.34%;
  top: 88.67%;
  bottom: 8.99%;
}
.backgroundIcon {
  height: calc(100% + 0.07px);
  top: 0;
  bottom: -0.07px;
}
.action1,
.action2 {
  position: absolute;
  top: 12px;
  letter-spacing: -0.41px;
  line-height: 22px;
  font-weight: 600;
  display: inline-block;
}
.action1 {
  left: 16px;
  width: 41px;
}
.action2 {
  right: 16px;
  color: var(--color-blueviolet-100);
  text-align: right;
  width: 44px;
}
.toolbarsIphone8textOnly {
  height: 100%;
  top: 0;
  bottom: 0;
}
.rectangle,
.toolbarsIphone8textOnly,
.toolbarsiphoneXtextOnly2 {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
}
.toolbarsiphoneXtextOnly2 {
  height: 10.22%;
  top: 87.19%;
  bottom: 2.59%;
  display: none;
  font-size: var(--font-size-mid);
  color: var(--color-blueviolet-200);
}
.rectangle {
  height: 100%;
  top: 0;
  bottom: 0;
  border-radius: var(--br-7xs);
  background-color: var(--color-black);
  box-shadow: var(--purple-button-shadow);
}
.continue {
  position: absolute;
  height: calc(100% - 28px);
  width: calc(100% - 40px);
  top: 14px;
  left: 20px;
  letter-spacing: 0.1px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttonprimarydefault {
  position: absolute;
  width: calc(100% - 32px);
  top: 638px;
  right: 17px;
  left: 15px;
  background-color: var(--white);
  height: 56px;
  cursor: pointer;
  text-align: center;
  font-size: var(--components-large-size);
  color: var(--white);
}
.selectPreferredSpace,
.slotsAvailable {
  position: absolute;
  height: calc(100% - 749px);
  width: calc(100% - 196px);
  top: 206px;
  left: 98px;
  font-size: var(--components-large-size);
  letter-spacing: 0.1px;
  line-height: 24px;
  color: var(--color-slategray);
  display: flex;
  align-items: center;
}
.slotsAvailable {
  top: 542px;
  left: 125px;
}
.c {
  position: absolute;
  top: 506px;
  left: 475px;
  letter-spacing: -0.41px;
  line-height: 22px;
  font-weight: 600;
  display: inline-block;
  width: 18px;
  height: 20px;
}
.hr,
.rectangle1,
.rs200 {
  position: absolute;
  left: 0;
}
.rectangle1 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: var(--br-7xs);
  background-color: var(--color-gray-100);
  box-shadow: 0 8px 20px rgba(122, 122, 123, 0.32);
}
.hr,
.rs200 {
  height: calc(100% - 1.27px);
  width: calc(100% - 28px);
  top: -2.53px;
  letter-spacing: 0.1px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hr {
  width: calc(100% - 51px);
  top: -3.8px;
  left: 51px;
  font-size: var(--components-large-size);
  color: var(--color-slategray);
}
.rs200Parent {
  position: absolute;
  height: calc(100% - 34.2px);
  width: calc(100% - 248px);
  top: -19px;
  right: 8px;
  bottom: 53.2px;
  left: 240px;
}
.lekkiGardensCar {
  position: absolute;
  height: calc(100% - 30.4px);
  width: calc(100% - 121px);
  top: -24.07px;
  left: 11px;
  font-size: var(--font-size-lg);
  letter-spacing: 0.1px;
  line-height: 24px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangleParent {
  position: absolute;
  height: calc(100% - 744px);
  width: calc(100% - 32px);
  top: 127px;
  right: 12px;
  bottom: 617px;
  left: 20px;
  text-align: center;
  font-size: var(--font-size-xl);
}
.vectorIcon {
  position: absolute;
  height: 83.38%;
  width: 43.79%;
  top: 8.33%;
  right: 29.29%;
  bottom: 8.29%;
  left: 26.92%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.back {
  position: absolute;
  top: 48px;
  left: 16px;
  width: 26px;
  height: 26px;
  cursor: pointer;
}
.selectParkingSpaceSensorChild {
  position: absolute;
  top: 259px;
  left: 15px;
  background-color: var(--white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 366px;
  height: 283px;
}
.icRoundDirectionsCarIcon {
  position: absolute;
  top: 425px;
  left: 54px;
  width: 28px;
  height: 28px;
  overflow: hidden;
}
.icRoundDirectionsCarIcon1,
.icRoundDirectionsCarIcon2,
.icRoundDirectionsCarIcon3 {
  position: absolute;
  top: 490px;
  left: 54px;
  width: 28px;
  height: 28px;
  overflow: hidden;
}
.icRoundDirectionsCarIcon2,
.icRoundDirectionsCarIcon3 {
  left: 91px;
}
.icRoundDirectionsCarIcon3 {
  top: 425px;
  left: 127px;
}
.groupIcon,
.selectParkingSpaceSensorChild1,
.selectParkingSpaceSensorChild2,
.selectParkingSpaceSensorInner,
.selectParkingSpaceSensorItem {
  position: absolute;
  height: 5.67%;
  width: 31.47%;
  top: 34.27%;
  right: 8.74%;
  bottom: 60.06%;
  left: 59.8%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.groupIcon,
.selectParkingSpaceSensorChild1,
.selectParkingSpaceSensorChild2,
.selectParkingSpaceSensorInner {
  right: 59.37%;
  left: 9.16%;
}
.groupIcon,
.selectParkingSpaceSensorChild1,
.selectParkingSpaceSensorChild2 {
  top: 61.64%;
  right: 58.36%;
  bottom: 32.7%;
  left: 10.18%;
}
.selectParkingSpaceSensorChild1,
.selectParkingSpaceSensorChild2 {
  top: 47.31%;
  right: 8.23%;
  bottom: 47.02%;
  left: 60.31%;
}
.selectParkingSpaceSensorChild2 {
  top: 61.51%;
  bottom: 32.83%;
}
.c1 {
  position: absolute;
  height: 2.56%;
  width: 4.58%;
  top: 45.27%;
  left: 65.14%;
  letter-spacing: -0.41px;
  line-height: 22px;
  font-weight: 600;
  display: inline-block;
}
.selectParkingSpaceSensorChild3 {
  position: absolute;
  height: 5.67%;
  width: 31.47%;
  top: 47.06%;
  right: 58.36%;
  bottom: 47.28%;
  left: 10.18%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.a,
.b,
.c2 {
  position: absolute;
  top: 344px;
  left: 95px;
  letter-spacing: -0.41px;
  line-height: 22px;
  font-weight: 600;
  display: inline-block;
  width: 18px;
  height: 20px;
}
.a,
.c2 {
  top: 465px;
  left: 127px;
}
.a {
  left: 256px;
}
.icRoundDirectionsCarIcon4,
.icRoundDirectionsCarIcon5 {
  position: absolute;
  top: 312px;
  left: 183px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.icRoundDirectionsCarIcon5 {
  top: 427px;
  left: 182px;
}
.lineIcon {
  position: absolute;
  top: 286px;
  left: 193px;
  width: 2px;
  height: 229px;
}
.selectParkingSpaceSensor {
  position: relative;
  background-color: var(--white);
  width: 100%;
  height: 782px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-darkslategray-200);
  font-family: var(--font-open-sans);
}
