.groupChild {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--white);
  box-shadow: 0 1px 15px #e0e0e0;
}
.vehicleNo {
  position: relative;
  font-weight: 600;
}
.vehicleNoWrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-5xs) var(--padding-5xs) 0;
  align-items: flex-start;
  justify-content: flex-start;
}
.dl3cc10xx {
  position: relative;
}
.dl3cc10xxWrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.frameWrapper {
  position: absolute;
  top: 1px;
  left: 229px;
  width: 85px;
  height: 31px;
}
.frameParent,
.image32Icon {
  position: absolute;
  top: 8.62px;
  left: 12.5px;
  width: 314px;
  height: 32px;
}
.image32Icon {
  top: 1.62px;
  left: 154.19px;
  width: 41.72px;
  height: 34px;
  object-fit: cover;
}
.fastTag1,
.rectangleParent {
  position: absolute;
  height: 5.92%;
  width: 89.74%;
  top: 15.52%;
  right: 5.13%;
  bottom: 78.55%;
  left: 5.13%;
}
.fastTag1 {
  height: 5.09%;
  width: 40.26%;
  top: 7.58%;
  right: 28.72%;
  bottom: 87.32%;
  left: 31.03%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.tagBalanceChild {
  position: absolute;
  height: 8.77%;
  width: 89.74%;
  top: 23.34%;
  right: 5.13%;
  bottom: 67.89%;
  left: 5.13%;
  border-radius: var(--br-3xs);
  background-color: var(--white);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
}
.fastagBalanceWrapper,
.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper {
  top: 29px;
  left: 3px;
  font-size: var(--components-large-size);
}
.frameGroup {
  position: absolute;
  top: 189px;
  left: 32.66px;
  width: 89px;
  height: 48px;
}
.groupItem {
  position: absolute;
  top: 0;
  left: 43px;
}
.tajExpresswayWrapper {
  position: absolute;
  top: 23px;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameContainer {
  position: absolute;
  top: 194px;
  left: 238.66px;
  width: 117px;
  height: 42px;
  font-size: var(--components-large-size);
}
.lastToll {
  position: absolute;
  height: 1.72%;
  width: 18.87%;
  top: 25.26%;
  left: 71.96%;
  font-weight: 600;
  display: inline-block;
}
.vectorIcon {
  position: absolute;
  height: 83.38%;
  width: 43.79%;
  top: 8.33%;
  right: 29.29%;
  bottom: 8.29%;
  left: 26.92%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.backChild {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.back,
.tagBalanceItem {
  position: absolute;
  top: 44px;
  left: 32.34px;
  width: 26px;
  height: 26px;
}
.tagBalanceItem {
  height: 55.69%;
  width: 89.74%;
  top: 34.91%;
  right: 4.91%;
  bottom: 9.4%;
  left: 5.34%;
  border-radius: var(--br-3xs);
  background-color: var(--white);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
}
.ndMay2022Wrapper {
  position: absolute;
  top: 19px;
  left: 231px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.container,
.groupDiv {
  position: absolute;
  top: 0;
}
.container {
  left: 293px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.groupDiv {
  left: 0;
  width: 320px;
  height: 34px;
}
.groupInner,
.groupParent {
  position: absolute;
  top: 41.5px;
  left: 0;
  width: 318px;
  height: 1px;
}
.groupParent {
  top: 312px;
  left: 33px;
  width: 320px;
  height: 42px;
}
.dasanaToll {
  position: relative;
  font-weight: 500;
}
.frame,
.thApr2022Wrapper {
  position: absolute;
  top: 19px;
  left: 237px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame {
  top: 0;
  left: 298px;
}
.groupContainer {
  position: absolute;
  top: 370px;
  left: 33px;
  width: 320px;
  height: 42px;
}
.thApr2022Container {
  position: absolute;
  top: 19px;
  left: 239px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.groupParent1 {
  position: absolute;
  top: 428px;
  left: 33px;
  width: 320px;
  height: 42px;
}
.tagBalance {
  position: relative;
  background-color: var(--white);
  width: 100%;
  height: 782px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-gray-300);
  font-family: var(--components-button-default);
}
